#cplus {
    width: 100px;
    height: 100px;
}

#java {
    width: 100px;
    height: 100px;

}

#id1 {
    display: inline;
    color: darkred;

}

#id2 {
    display: inline;
    color: darkred;
}

#id3 {
    display: inline;
    color: darkred;
}

#id4 {
    display: inline;
    color: darkred;
}

#book1 {
    
    width: 200px;
    height: 200px;
}

#book2 {
    
    width: 200px;
    height: 200px;
}

#book3 {
    
    width: 200px;
    height: 200px;
}