body{
background-color: lightgrey;
font-family: SansSerif;
text-align:center;
}


/* TOPO */

.topo{
background-color:#e6cfae;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
}

h1{
color:darkgreen;
}

#cplus{
width:100px;
}

#java{
width:100px;
}


/* MENU */

.menu{
background-color:#7fb2d9;
padding:10px;
}

.menu span{
margin:40px;
color:darkred;
font-weight:bold;
}


/* TEXTO */

.texto{
color:darkmagenta;
font-size:20px;
width:80%;
margin:auto;
margin-bottom:20px;
}


/* LIVROS */

.livros img{
width:200px;
margin:30px;
}


/* MIDIA */

.midia{
display:flex;
justify-content:center;
gap:40px;
margin:40px;
}


/* TABELA */

.contatos{
margin:auto;
border:3px dashed red;
padding:10px;
}

.contatos th,
.contatos td{
padding:10px;
border:1px solid gray;
}


/* SITES */

.sites{
background:yellow;
width:400px;
margin:auto;
padding:10px;
text-align:left;
}


/* RODAPÉ */

.rodape{
background:#e6cfae;
margin-top:40px;
padding:20px;
display:flex;
justify-content:space-between;
align-items:center;
font-family:"Comic Sans MS";
}

.rodape img{
width:60px;
}